.container{
    height: 100vh;
    border: 2px solid black;
 }
 
 .logo {
    width: 120px;
    height: 120px;
    background-color: skyblue;
    border: 2px solid black;
    margin: auto auto;	
}

.descripcion {
    background-color: skyblue;
    border: 2px solid black;
    margin: auto auto;	
}